/* :root {
  --primaryColor: #f59f00;
  --secondaryColor: #087f5b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: 'inter', sans-serif;

  background-color: #04010e;
  box-sizing: border-box;
  position: relative;
  
} */

/* .clear-fix::after {
  content: '';
  clear: both;
  display: table;
}
.section-hero {
  width: 100%;
  background: var(--primaryColor);
}

.logo {
  max-width: 25rem;
}
.logo img {
  width: 100%;
}
.navigation ul {
  display: flex;
  gap: 1.2rem;
  list-style-type: none;
  margin-right: 1rem;
}
.navigation ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  transition: all 0.5s;
}
.navigation ul li a:hover {
  border-bottom: 0.2rem solid var(--secondaryColor);
  color: var(--secondaryColor);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primaryColor);
  padding: 1rem 0;
  height: 10rem;
  border-bottom: 0.2rem solid #fff;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.hero-images {
  display: flex;
  padding: 2.5rem 1rem;

  gap: 1rem;
}
.image-1 {
  background-image: linear-gradient(
      rgba(2, 3, 29, 0.83),
      rgba(128, 39, 67, 0.331)
    ),
    url(hero-section/young\ girl.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

  border-radius: 2rem;
  height: 100%;
}
.image-2 {
  margin-top: 2.1rem;

  height: 100%;
  max-width: 80rem;
}
.image-2 img {
  width: 100%;
  border-radius: 3rem;
}
.hero-text {
  font-size: 3.6rem;
  padding: 10rem 0.5rem 0.5rem 1rem;
  font-weight: 700;
  letter-spacing: 1px;

  line-height: 1.2;
  text-align: center;

  color: #fff;
}
.hero-text-div {
  width: 65rem;
  margin-top: 16rem;
}

.hero-text-translate {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primaryColor);
  padding: 0 1rem;
  margin-left: 4rem;
  display: inline-block;
}

.hero-text-advertisement {
  font-size: 2.4rem;
  background-color: var(--secondaryColor);
  color: white;
  font-weight: 400;
  border-radius: 1.2rem;
  padding: 2.5rem 2rem;
  margin: 8rem 1rem 0 1rem;
}
.div-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.btn {
  display: inline-block;
  width: 20rem;
  padding: 1.2rem 1rem;
  background: var(--primaryColor);
  border: none;
  border-radius: 1.2rem;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 500;
  transition: all 0.5s;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--secondaryColor);
}

.testimonial-section {
  background: var(--secondaryColor);
  
} */

/* .testimonial {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0 auto;
  padding: 1.2rem 0;
}

.testimonial img {
  padding: 0.8rem 1rem;
  border-radius: 2.8rem;
  transition: all 0.5s;
}
.testimonial img:hover {
  transform: scaleY(1.1);
}

.long-text {
  max-width: 25rem;
  width: 100%;
  margin-bottom: 2.4rem;
}
.logo-1 {
  color: var(--secondaryColor);
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
}
.logo-2 {
  color: #fff;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
}
.text {
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.2;
}
.name {
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffffff9e; */
}
/* .work {
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff91;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.testimonials-text {
  background-color: var(--primaryColor);
  padding: 2rem 1rem;
  border-radius: 2rem;
  color: #ffffffe7;
}

.testimonial-title {
  color: #fff;
  font-size: 2.4rem;
  padding-top: 2rem;
  text-align: center;
} */
