/* VARIABLE */

:root {
  --primaryColor: #f59f00;
  --secondaryColor: #087f5b;
}

/* Gennerals */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: 'inter', sans-serif;
  background-color: #e3e2e9;
  position: relative;
}
section {
  overflow: hidden;
  width: 100%;
  object-fit: cover;
}
/* .overFlow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -5;
} */

/* Section Home */

.section-hero {
  width: 100%;
  /* background: var(--primaryColor); */
}

.logo {
  max-width: 23rem;
  border-radius: 2rem;
  overflow: hidden;
}
.logo img {
  width: 100%;
}
.navigation ul {
  display: flex;
  gap: 1.45rem;
  list-style-type: none;
  margin-right: 1rem;
}
.navigation ul li a {
  /* display: block; */
  text-decoration: none;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 700;
  transition: all 0.6s;
  position: relative;
}
#sign-up {
  background-color: var(--secondaryColor);
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.8rem;
}
.navigation ul li a::before {
  content: '';
  width: 0;
  height: 0;
  background-color: var(--secondaryColor);
  left: 0;
  bottom: 0;
  border-radius: 1rem;
  position: absolute;
  z-index: -2;
  transition: all 0.6s ease;
  padding: 0.2rem 0;
}
.navigation ul li a:hover::before {
  width: 100%;
  height: 100%;
}

.navigation ul li {
  transition: all 0.3s;
}

.navigation ul li:hover {
  transform: scale(0.9) translateY(-0.4rem);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: var(--primaryColor); */

  background-image: linear-gradient(
      to right,
      rgba(2, 3, 29, 0.904),
      rgba(128, 39, 67, 0.781)
    ),
    url(hero-section/young\ girl.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  object-fit: cover;

  padding: 1rem 0;
  height: 10rem;
  /* border-bottom: 0.2rem solid #fff; */
  position: fixed;
  width: 100%;
  z-index: 999;
}

.hero-images {
  display: flex;

  gap: 1rem;
}
.image-1 {
  background-image: linear-gradient(
      to right,
      rgba(2, 3, 29, 0.904),
      rgba(128, 39, 67, 0.781)
    ),
    url(hero-section/young\ girl.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  object-fit: cover;
  height: 85rem;
  /* border-radius: 2rem; */
  text-align: center;
  width: 100%;
  z-index: 2;
  padding-bottom: 12rem;
  clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 100%);
}

.hero-text {
  font-size: 3.6rem;
  padding: 10rem 0.5rem 0.5rem 1rem;
  font-weight: 700;
  letter-spacing: 1px;

  line-height: 1.2;
  text-align: center;

  color: #fff;
}

.hero-text-div {
  max-width: 65rem;
  margin: 0 auto;
  margin-top: 16rem;
  animation-name: movetodown;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0.75s;
  text-align: center;
}

@keyframes movetodown {
  0% {
    opacity: 0;
    transform: translateY(-20rem);
  }
  80% {
    transform: translateY(5rem);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes moveintomiddle {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes movetoUp {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  80% {
    transform: translateY(-5rem);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.hero-text-translate {
  font-size: 2.1rem;
  background-color: var(--secondaryColor);
  color: #e3e2e9;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  font-weight: 900;
  margin-left: 4rem;
  display: inline-block;
  animation-name: moveintomiddle;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 1.5s;
}

.hero-text-advertisement {
  font-size: 2.4rem;

  /* background-color: var(--secondaryColor); */
  color: white;
  font-weight: 400;
  border-radius: 1.2rem;
  padding: 2.5rem 2rem;
  margin: 8rem 1rem 0 1rem;
  animation-name: movetoUp;
  animation-duration: 1.5s;
  animation-delay: 0.75s;
  animation-timing-function: ease-in;
  /* text-align: center; */
}
.adver {
  max-width: 65rem;
  margin: 0 auto;
  text-align: center;
}
.div-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.btn {
  display: inline-block;

  text-decoration: none;
  text-align: center;
  padding: 1.2rem 4rem;
  background-color: var(--secondaryColor);

  border-radius: 1.2rem;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 500;
  transition: all 0.5s;
  position: relative;
  cursor: pointer;
}

.btn::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #f59f00;
  left: 0;
  top: 0;
  border-radius: 1.2rem;
  transition: all 0.3s;
  z-index: -1;
}

.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}

/******* BackgroundImages text *******/
.margin-bottom {
  margin-bottom: 6rem;
  margin-top: 3rem;
  background-image: linear-gradient(to right, #087f5bf5, rgba(0, 0, 0, 0.89));
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3.2rem;
  transition: all 0.3s;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.margin-bottom:hover {
  transform: skewY(7deg);
  text-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.788);
  cursor: pointer;
  letter-spacing: 4px;
}
.tex-center {
  text-align: center;
}

/* Testimonial-section */

.testimonial-section {
  background-color: #e3e2e99c;
  /* margin: 6rem auto; */
  width: 100%;
  position: relative;

  padding: 10rem 3rem;
  margin-top: -14rem;
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  opacity: 0.5;
  overflow: hidden;
}
.bg-video-content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonial {
  max-width: 40rem;
  max-height: 30rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0 auto;
  padding: 1.2rem 0;
}

.testimonial img {
  width: 50%;

  /* height: 100%; */
  padding: 0.8rem 1rem;
  border-radius: 2.8rem;
  transition: all 0.5s;
}
.testimonial img:hover {
  transform: scaleY(1.1);
}
.ubah {
  height: 25rem;
}
.manka {
  height: 20rem;
}

.long-text {
  width: 100%;
  /* height: 100%; */
  margin-bottom: 2.4rem;
}
.logo-1 {
  color: var(--secondaryColor);
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
}
.logo-2 {
  color: #fff;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
}
.text {
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.3;
}
.name {
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffffff9e;
}
.work {
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff91;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}
.testimonials-text {
  background-color: var(--primaryColor);
  padding: 2rem 1rem;
  border-radius: 2rem;
  color: #ffffffe7;
}

.testimonial-title {
  color: #fff;
  font-size: 2.4rem;
  padding-top: 2rem;
  text-align: center;
}

/* Price-section**** */
.section-price {
  width: 100%;
  padding: 10rem 3rem;
  /* clip-path: polygon(0 14%, 100% 0, 100% 100%, 0 100%); */
}
.search-container {
  max-width: 27rem;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 9rem;
  margin-top: 2rem;
}
.search-icon {
  font-size: 2.4rem;
  position: absolute;
  right: 1rem;
  color: #04010e79;
}
.search {
  border-radius: 1rem;
  width: 100%;
  padding: 1.2rem 2rem;
  outline: none;
  border: none;
  font-size: 1.6em;
}
.price-flex {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.item-prices {
  margin: 2rem 2rem;
  max-width: 20rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.331);
  /* background-color: rgba(0, 0, 0, 0.829); */
}

.item-prices img {
  width: 100%;
  z-index: 4;
  height: 15.5rem;
  transition: all 0.5s;
}
.item-prices img {
  transform: scale(1.2);
}
.price-text {
  /* background-color: var(--primaryColor); */
  padding: 2rem 0.7rem;
  color: #04010e;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
}
.icon {
  font-size: 1.6rem;
  color: var(--secondaryColor);
}
.price {
  font-weight: 700;
  background-color: bisque;
  padding: 0.5rem;
  border-radius: 1rem;
  color: var(--secondaryColor);
}

.prices {
  padding: 1rem 7rem;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.button {
  display: inline-block;
  margin: 1rem 2rem 0 1rem;
  width: 10rem;
  padding: 1.2rem 1.4rem;
  background-color: var(--secondaryColor);
  border: none;
  border-radius: 1.2rem;
  font-size: 1.2rem;
  color: #160202be;
  font-weight: 500;
  transition: all 0.5s;
  cursor: pointer;
}
.button:hover {
  background-color: #ce8d14;
  color: #fff;
}
.section-price {
  /* background-color: var(--secondaryColor); */
  margin: 5rem auto;
}

.price-title {
  font-size: 2.4rem;
  color: #fff;
  text-align: center;
  padding-top: 2rem;
}

/* hiding elements */

.hide {
  display: none;
  visibility: hidden;
}

.clickBtn,
.btnless {
  display: inline-block;
  text-align: center;
  margin: 2rem 27rem;
  width: 60%;
  padding: 2rem 1.4rem;
  background-color: var(--secondaryColor);
  border: none;
  border-radius: 1.2rem;
  font-size: 2rem;
  color: white;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.clickBtn:hover {
  background-color: var(--primaryColor);
  color: #04010e;
}
.btnless:hover {
  background-color: var(--primaryColor);
  color: #04010e;
}

/* section-features */

.container-features {
  /* background-color: var(--primaryColor); */
  max-width: 140rem;
  padding: 10rem 3rem;
}
.row-features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
}
.col {
  position: relative;
  height: 48rem;
  perspective: 150rem;
  -webkit-perspective: 150rem;
  color: white;
}
.card_side {
  position: absolute;
  width: 100%;
  height: 48rem;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: all 0.8s ease;
  border-radius: 0.7rem;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.801);
}
.back {
  transform: rotateY(-180deg);

  align-items: center;
}
.col:hover .back {
  transform: rotateY(0);
}
.col:hover .front {
  transform: rotateY(180deg);
}
.detail {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
.detail ul {
  list-style: none;
}
.detail li {
  font-size: 1.5rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
  justify-content: center;
}
.detail li:not(:last-child) {
  border-bottom: 1px solid wheat;
}
.detail li:not(:first-child) {
  padding-top: 3rem;
}

.back-1 {
  background-image: linear-gradient(to right bottom, #c92a2a, #b63b3bd2);
}
.back-2 {
  background-image: linear-gradient(to right bottom, #5f3dc4, #b197fc);
}
.back-3 {
  background-image: linear-gradient(to right bottom, red, black);
}
.back-4 {
  background-image: linear-gradient(to right bottom, #1864ab, #0c8599);
}
.front {
  background-color: var(--secondaryColor);
}

.img-back {
  height: 45%;
  background-size: cover;
  background-blend-mode: screen;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 100%);
}
.img-back-1 {
  background-image: url(feature/order.jpg),
    linear-gradient(to right, #c92a2a, #fa5252d2);
}
.img-back-2 {
  background-image: url(feature/delivery.jpg),
    linear-gradient(to right, #5f3dc4, #b197fc);
}
.img-back-3 {
  background-image: url(feature/product.jpg),
    linear-gradient(to right, #212529, rgba(255, 0, 0, 0.904));
}
.img-back-4 {
  background-image: url(feature/costumer.jpg),
    linear-gradient(to right, #1864ab, #0c8599);
}

.heading-feature {
  position: absolute;
  font-size: 2.1rem;
  font-weight: 500;
  top: 16rem;
  right: 0;
  width: 65%;
  text-align: center;
  text-transform: uppercase;
}
.heading-feature-span {
  box-decoration-break: clone;
  padding: 0.6rem 0.8rem;
}
.span-1 {
  background-image: linear-gradient(to right, #e03131, rgba(0, 0, 0, 0.767));
}

.span-2 {
  background-image: linear-gradient(to right, #5f3dc4, rgba(0, 0, 0, 0.767));
}
.span-3 {
  background-image: linear-gradient(to right, red, rgba(0, 0, 0, 0.767));
}
.span-4 {
  background-image: linear-gradient(to right, #1864ab, #0c8599);
}
.feature-btn {
  background-color: white;
  color: #04010e;
  font-size: 1rem;
  border: none;
  padding: 1rem 1.4rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 2rem;
  margin-top: 3rem;
  position: relative;
  transition: all 0.3s;
}
.feature-btn::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  border-radius: 2rem;
  height: 100%;
  background-color: white;
  top: 0;
  left: 0;
  z-index: -2;
  transition: all 0.6s;
}

.feature-btn:hover::after {
  transform: scaleX(1.8) scaleY(1.7);
  opacity: 0;
}

.hours {
  display: flex;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  column-gap: 0.5rem;
  font-size: 1.8rem;
  font-weight: 100;
}
.back-images {
  background-size: cover;
  height: 55%;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 79%);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 79%);
}
.back-images-1 {
  background-image: url(feature/order.jpg);
}
.back-images-2 {
  background-image: url(feature/delivery.jpg);
}
.back-images-3 {
  background-image: url(feature/product.jpg);
}
.back-images-4 {
  background-image: url(feature/costumer.jpg);
}
/* section-looks */

.looks-section {
  background-color: #e3e2e9e7;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 10rem 3rem;
}

.looks {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  color: #333;
  padding: 2rem 4rem;
}
.right {
  border-left: 1rem solid var(--secondaryColor);
}

.how-it-looks {
  flex-basis: 50%;
}
.how-it-looks video {
  width: 100%;
  border-radius: 2rem;
  outline-offset: 1.2rem;
  transition: all 0.3s;
}
.how-it-looks video:hover {
  transform: scale(0.95);
  outline: 1rem solid var(--primaryColor);
}

.how-it-looks p {
  font-size: 1.8rem;
  margin-top: 1.6rem;
  margin-left: 1.2rem;
  text-align: center;
}
.how-it-looks p a {
  color: dodgerblue;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 1.3rem;
  text-decoration: none;
}

.highlight {
  background-color: var(--primaryColor);
  padding: 0.3rem 1rem;
  border-radius: 1rem;
}

.visit {
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 6px;
  font-weight: 800;
}
.email {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.645);
}
.addresi {
  font-size: 2rem;
  color: rgba(255, 0, 0, 0.846);
}

.wathsapp {
  font-size: 2rem;
  color: rgba(0, 128, 0, 0.811);
}
.call {
  font-size: 2rem;
  color: rgba(0, 0, 255, 0.715);
}

/* section footer */

.footer {
  /* background-color: var(--primaryColor); */
  margin-top: 4rem;
  padding: 10rem 4rem;
}

.footer-container {
  /* display: flex;
  align-items: center;
  gap: 1rem;
  padding: 5rem 2rem; */
}

.img-footer {
  position: absolute;
  width: 27rem;
  height: 20rem;
  outline-offset: 1rem;
  transition: all 0.4s;
  border-radius: 2px;
  overflow: hidden;
}

.media img {
  width: 13rem;
  border-radius: 1rem;
}

.form {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  /* margin: 0 auto; */
  position: relative;
}

.form input,
button {
  padding: 1.2rem;
  margin-top: 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 1rem 1rem rgba(226, 235, 235, 0.572);
}
.input {
  box-shadow: 0 1rem 1rem rgba(226, 235, 235, 0.572);
  transition: all 0.3s;
}
.input::placeholder {
  color: #04010e59;
  font-size: 1.2rem;
}

.input:focus:invalid {
  border-bottom: 0.3rem solid rgba(255, 0, 0, 0.897);
}
.passward {
  position: relative;
}
#message {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  display: none;
}
.eye {
  position: absolute;
  top: 13rem;
  right: 3rem;
  cursor: pointer;
  transform: translate(0%, 0%);
  padding: 1rem;
  width: 4.5rem;
}
.form input:focus {
  border-bottom: 0.3rem solid rgba(0, 128, 0, 0.904);
}

.form h3 {
  color: white;
  font-size: 1.8rem;
  /* text-align: center; */
}

.footer-right {
  background-image: linear-gradient(
      105deg,
      #333333e8 0%,
      #333333de 50%,
      transparent 50%
    ),
    url(hero-section/young\ girl.jpeg);
  background-size: cover;
  padding: 8.2rem 3rem;
  background-repeat: no-repeat;
  border-radius: 2rem;
  height: 50rem;
}

.media {
  margin-top: 3rem;
  margin-left: 3rem;
  display: flex;
  /* align-items: center; */
  gap: 1.2rem;

  /* justify-content: center; */
}

.media .media-icon {
  font-size: 2.4rem;
  color: var(--primaryColor);
  transition: all 0.3s ease-in;
  cursor: pointer;
  border-radius: 50%;
  outline-offset: 0.2rem;
}
.media-icon:hover {
  color: var(--secondaryColor);
  transform: scale(1.2);
  outline: 0.2rem solid var(--primaryColor);
}

.copy-righ {
  background-color: #04010e;
  width: 100%;
  padding: 2rem;
}
.copy-righ p {
  color: #fff;
  font-size: 2.4rem;
  text-align: center;
  text-transform: uppercase;
}
.mobile-menu {
  position: absolute;
  top: 3rem;
  right: 2rem;
  font-size: 5rem;
  display: none;
}

@media (max-width: 1120px) {
  .image-2 {
    display: none;
  }
  .logo {
    max-width: 23rem;
  }
  .hero-images {
    padding: 0;
  }
  .image-1 {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero-text-advertisement {
    max-width: 70rem;
  }
  .right {
    font-size: 2rem;
  }
  .phone-class {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
  }
  .phone-icons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .prices {
    grid-template-columns: repeat(4, 1fr);
  }
  .dispear {
    display: none;
  }
}
@media (max-width: 850px) {
  .testimonials {
    display: block;
  }
  .logo {
    max-width: 20rem;
  }

  .prices {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
  .footer-right {
    flex-basis: 100%;
  }
  .footer-left {
    display: none;
  }
  .looks {
    flex-direction: column;
  }
  .right {
    margin-top: 4rem;
    margin-bottom: 3rem;
    border: none;
  }
  .clickBtn,
  .btnless {
    margin: 2rem 20rem;
  }
  .row-features {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
  }
  .navigation ul li a {
    font-size: 1.8rem;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 50%;
  }
  .eye {
    position: absolute;
    top: 14rem;
    right: 3rem;
    cursor: pointer;
    transform: translate(0%, 0%);
  }
  .navigation ul li a {
    font-size: 1.6rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 38%;
  }
  .eye {
    position: absolute;
    top: 15rem;
    right: 3rem;
    cursor: pointer;
    transform: translate(0%, 0%);
  }
}
@media (max-width: 430px) {
  .eye {
    top: 12rem;
    right: 3rem;
    cursor: pointer;
    transform: translate(0%, 0%);
  }
}
@media (max-width: 640px) {
  .navigation ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 2rem 1rem;
    /* border-radius: 1rem; */
    row-gap: 5rem;
    top: 10rem;
    right: -1rem;
    height: 100vh;
    align-items: center;
    width: 37%;
    /* background-image: linear-gradient(to bottom, #087f5bf3, #f59f00d3); */
    background-color: #087f5bf3;
    line-height: 2;
    transform: translateX(30rem);
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.644);
    transition: all 0.5s ease-in;
  }
  #sign-up {
    background-color: #f59f00;
  }

  .navigation ul li a {
    font-size: 2.4rem;
    font-weight: 800;
  }
  .mobile-menu {
    display: block;
  }
  .clickBtn,
  .btnless {
    margin: 2rem 13rem;
  }
}

@media (max-width: 580px) {
  .prices {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
  }

  .eye {
    position: absolute;
    top: 15rem;
    right: 3rem;
    cursor: pointer;
    transform: translate(0%, 19%);
  }
  .logo {
    max-width: 13rem;
  }
}
